.video-grid {
  gap: 1rem;
  height: initial;
  padding-top: 0.5rem;
}
.video-card {
  padding-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.video-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.video-card .card-header .card-title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.video-card .card-img {
  height: 100%;
}

.video-card .card-header .card-menu-icon {
  padding: 0.2rem;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: inherit;
}

.video-card .card-header .card-menu-icon:hover {
  background-color: var(--secondary-hover);
}

.video-card .card-header .card-title {
  padding: 0;
}

.menu-dropdown {
  position: relative;
  display: inline-block;
}

.menu-dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  min-width: 11rem;
  right: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.menu-dropdown-content .menu-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  cursor: pointer;
  border-radius: 4px;
}

.menu-dropdown-content .menu-dropdown-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.filters {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.category-filter {
  display: flex;
  gap: 0.5rem;
}

.dropdown {
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
}
.dropdown option {
  font-size: 1.2em;
}

.modal-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  padding-top: 0.5rem;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 0.5rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-actions {
  margin-top: 0;
}

.modal-input-checkbox {
  padding-bottom: 0.5rem;
}

.modal-input-checkbox label {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .video-card {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
