.video-grid {
  gap: 1rem;
  height: initial;
}
.video-card {
  padding-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.category-filter {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .video-card {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
