@import url("https://iceberg-ui.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #ef8172;
  --primary-hover: #e49c93;
  --secondary-hover: #e8e8e8;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  padding: 0.5rem 1rem 1rem 1.8rem;
}
.main a {
  color: inherit;
  text-decoration: inherit;
}

.divider {
  border: none;
  border-bottom: 1px solid var(--light-grey);
}

.drawer-frame {
  height: calc(100vh - 4.2rem);
}

.side-nav-item-active {
  background-color: var(--primary-color);
  color: var(--white);
}
.side-nav-item-active:hover {
  background-color: var(--primary-hover);
  color: var(--white);
}

.btn-round {
  min-width: 3.5rem;
}
.outline-primary:hover {
  background-color: var(--primary-hover);
  color: #fff;
}
.btn:hover {
  filter: initial;
}

.text-primary {
  color: var(--primary-color);
}

.title-w-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
}
.title-w-logo .nav-logo {
  width: 2rem;
}

@media only screen and (max-width: 650px) {
  .drawer {
    display: none;
    flex-basis: 13rem;
  }
}
